<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.triadsoft.properties.editors.PropertiesEditor"
            contributorClass="com.triadsoft.properties.editors.MultiPageEditorContributor"
            extensions="properties,ini"
            icon="icons/localizedProperties.png"
            id="com.triadsoft.properties.editors.PropertiesEditor"
            name="%localizedProperties.editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.triadsoft.properties.preferences.LocalizedPropertiesPreferencePage"
            id="com.triadsoft.properties.preferences.LocalizedPropertiesPreferencePage"
            name="%localizedProperties.preferences.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.triadsoft.properties.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.triadsoft.properties"
            name="%localizedProperties.category.name"
            parentCategory="org.eclipse.ui.Basic">
      </category>
      <wizard
            category="com.triadsoft.properties"
            class="com.triadsoft.properties.wizards.LocalizedPropertiesWizard"
            icon="icons/localizedProperties.png"
            id="com.triadsoft.properties.wizards.LocalizedProperties"
            name="%localizedProperties.wizard.name">
      </wizard>
   </extension>
</plugin>
