<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.triadsoft.properties.editor.export">
      <export
            class="com.triadsoft.properties.excel.ExcelExport">
      </export>
   </extension>
   <extension
         point="com.triadsoft.properties.editor.import">
      <import
            class="com.triadsoft.properties.excel.ExcelImport">
      </import>
   </extension>

</plugin>
